.footer-container {
  height: 200px;
  width: 100%;
  background-color: rgb(59, 50, 50);
  color: white;
}
.footer-features {
  display: flex;
  justify-content: center;
}
.footer-features ul {
  text-decoration: none;
  list-style: none;
}
.footer-features ul li:first-child {
  font-size: large;
}
